/Terradue.OpenSearch.RdfEO/obj/
/Terradue.OpenSearch.RdfEO/bin/
/Terradue.OpenSearch.RdfEO.userprefs
/packages/
/Terradue.OpenSearch.RdfEO.Test/bin/
/Terradue.OpenSearch.RdfEO.Test/obj/
Terradue.OpenSearch.RdfEO.1.1.1.nupkg
Terradue.OpenSearch.RdfEO.Test/Resources
Terradue.OpenSearch.RdfEO/Resources
.idea
